{% extends "base.html" %}
{% block title %}4541 Scouting App | Current Year{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/currentyear/css/prematch.css">
<link rel="stylesheet" href="/static/css/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/currentyear/js/next.js"></script>
<script src="/static/currentyear/js/prematch.js"></script>
<script src="/static/currentyear/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div>
    <div class="auto">
        <h1>Pre-Match</h1>
        <div class="start">
            <h2>Starting Object</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="radio" id="startNone" name="startObject" value="startNone" checked>
                                <span class="none">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startObject1" name="startObject" value="startObject2">
                                <span class="object2">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startObject1" name="startObject" value="startObject1">
                                <span class="object1">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="layout">
            <h2>Object Layout</h2>
            <table>
                <tbody>
                    <tr>
                        <td><button class="node-both"></button></td>
                        <td><button class="node-both"></button></td>
                        <td><button class="node-both"></button></td>
                        <td><button class="node-both"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="roboPos">
            <h2>Location</h2>
            <label>
                <input type="radio" id="roboLeft" name="roboPos" value="left">
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboMid" name="roboPos" value="mid" checked>
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboRight" name="roboPos" value="right">
                <span></span>
            </label>
        </div>
    </div>
    <div class="next_container">
        <button class="next" id="nextButton">
            <span>Next</span>
        </button>
    </div>
</div> 

{% endblock %}