{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/currentyear/css/prematch.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/currentyear/js/prematch.js"></script>
<script src="/static/currentyear/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
    <div class="content">
        <!-- This is the NavBar -->
        <ul>
            <li><a href="https://cavineers.github.io/" target="_blank" rel="noopener noreferrer">Documentation</a></li>
            <li><a href="/help.html">Help</a></li>
            <li><a href="/home.html">Home</a></li>
          </ul>
        <h1>Pre-Match</h1>
        <div class="start">
            <!-- Starting object selection -->
            <h2>Starting Object</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="radio" id="startNone" name="startObject" value="none" checked>
                                <span class="none">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startPiece" name="startObject" value="startPiece">
                                <span class="piece-button">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stage">
            <!-- Buttons for robot positioning -->
            <h2>Robot Position</h2>
            <div class="stage_buttons">
                <label>
                    <input type="radio" id="leftPos" name="roboPos" value="left" required>
                    <span class="left">Left</span>
                </label>
                <label>
                    <input type="radio" id="middlePos" name="roboPos" value="middle" required>
                    <span class="mid">Middle</span>
                </label>
                <label>
                    <input type="radio" id="rightPos" name="roboPos" value="right" required>
                    <span class="right">Right</span>
                </label>
            </div>
        </div>
        <!-- Button to go to scout page -->
    <div class="next_container">
        <button class="next" id="nextButton">
            <span>Next</span>
        </button>
    </div>
</div> 

{% endblock %}