{% extends "base.html" %}
{% block title %}4541 Scouting App | Current Year{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/currentyear/css/scout.css" />
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/currentyear/js/scout.js"></script>
<script src="/static/currentyear/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="help.html">Help</a></li>
      </ul>
    <div class="auto" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_red" id="auto_action1">Auto PlaceHolder#1</button>
        </label>
        <label>
            <button class="button_red" id="auto_action2">Auto PlaceHolder#2</button>
        </label>
        <label>
            <button class="button_red" id="auto_action3">Auto PlaceHolder#3</button>
        </label>
        <label>
            <button class="button_red" id="auto_action4">Auto PlaceHolder#4</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
            <div class="charge">
                <h2>Auto States</h2>
                <label>
                    <input type="radio" id="chargeOffAuto" name="stationAuto" value="off" checked>
                    <span class="red-left">Off</span>
                </label>
                <label>
                    <input type="radio" id="chargeDockedAuto" name="stationAuto" value="docked">
                    <span class="red-mid">State 1</span>
                </label>
                <label>
                    <input type="radio" id="chargeEngagedAuto" name="stationAuto" value="engaged">
                    <span class="red-right">State 2</span>
                </label>
            </div>
        </div>
        <div>
            <div class="next_container">
                <button class="next" id="endAuto">
                    <span>End Auto</span>
                </button>
            </div>
        </div>
    </div>
    <div class="tele" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_red" id="action1">PlaceHolder#1</button>
        </label>
        <label>
            <button class="button_red" id="action2">PlaceHolder#2</button>
        </label>
        <label>
            <button class="button_red" id="action3">PlaceHolder#3</button>
        </label>
        <label>
            <button class="button_red" id="action4">PlaceHolder#4</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
            <div class="charge">
                <h2>TeleOp States</h2>
                <label>
                    <input type="radio" id="chargeOff" name="stationTele" value="off">
                    <span class="red-left">Off</span>
                </label>
                <label>
                    <input type="radio" id="chargeDocked" name="stationTele" value="State-1">
                    <span class="red-mid">State 1</span>
                </label>
                <label>
                    <input type="radio" id="chargeEngaged" name="stationTele" value="State-2">
                    <span class="red-right">State 2</span>
                </label>
            </div>
        </div>
        <div class="next_container">
            <button class="next" id="nextButton2">
                <span>Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}