{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/common/commons.css">
<link rel="stylesheet" href="/static/common/navbar.css">
{% endblock %}
{% block scripts %}
<script src="/static/currentyear/js/next.js"></script>
<script src="/static/currentyear/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <ul>
        <li><a href="https://cavineers.github.io/" target="_blank" rel="noopener noreferrer">Documentation</a></li>
        <li><a href="/help.html">Help</a></li>
    </ul>
    <button class="submit" id="finishButton">Submit</button>
</div>
{% endblock %}