h1 {
    width: 100%;
    font-size: 6vh;
    text-align: center;
}
.start {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.start h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}
.start table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.start table tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.start label input {
    display: none;
}
.start label span {
    position: relative;
    text-align: center;
    display: inline-block;
}
.none {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    background-color: #9a9280;
    border: none;
    padding: 1vh;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    
}
.start label input:checked ~ span.none{background-color: #aa0000;}
.platform-select {
    margin-left: 4px;
}
.stage {
    width: 100%;
}
.stage h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}
.stage_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.stage label {
    margin: 3px;
}
.stage label input {
    display: none;
}
.stage label input:checked ~ span{
    background-color: #9a9280;
    border: 5px solid #f4722b;
    box-shadow: 0 0px #3e3e3e;
    transform: translateY(5px);
}
.stage label span {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}