#content {
    display: flexbox;
    width:  90%;
    height: 70vh;
}
.auto {
    width: 340px;
    height: 400px;
}

.auto h1{
    margin-left: 27%;
    margin-bottom: 25px;
    font-size: 32px;
}

.start {
    margin-top: 10px;
    margin-left: 20%;
    height: 25%;
    width: 100%;
}

.start h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 5%;
}

.start label {
    margin-left: 70%;
    position: relative;
}

.start label input {
    display: none;
}

.start label span {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.none {
    height: 15px;
    width: 15px;
    margin: 10px;
    background-color: #9a9280;
    border: none;
    padding: 10px;
    border-radius: 20%;
    align-items: center;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    
}
.start label input:checked ~ span.none{background-color: #aa0000;}

.start label input:checked ~ span.note{background-color: #f1642b;}

.platform-select {
    margin-left: 4px;
}

.left {
    width: 100px;
    height: 50px;
    background: #aa0000;
    color: white;
    border: 5px solid #aa0000;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 5px #9a9280;
}
.left:hover {background-color: #7d0000;}

.mid {
    width: 100px;
    height: 50px;
    background: #aa0000;
    color: white;
    border: 5px solid #aa0000;
    text-align: center;
    box-shadow: 0 5px #9a9280;
}
.mid:hover {background-color: #7d0000;}

.right {
    width: 100px;
    height: 50px;
    background: #aa0000;
    color: white;
    border: 5px solid #aa0000;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 5px #9a9280;
}
.right:hover {background-color: #7d0000;} 