h1 {
  font-weight: bolder;
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 8em; 
  margin-bottom: 25px;
}

.commentboxes {
  margin-left: 7.5%;
  width: 75%;
}

.commentboxes p {
  font-weight: bold;
}

.commentarea {
  background-color: #3e3e3e;
  color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  border: 3px solid #ffffff;
  outline: solid;
  font-size: 2vh;
  width: 100%;
  height: 165px;
  font-family: Geneva, Segoe UI, Verdana, sans-serif;
  resize: none;
}