.submit {
  height: 50px;
  width: 200px;
  background-color: #ff0000; /* Red */
  border: none;
  color: white;
  margin-top: 50px;
  margin-left: 23%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 5px #777;
}

.submit:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

.next {
    height: 38px;
    width: 150px;
    margin-top: 14%;
    margin-left: 50%;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 5px;
    box-shadow: 0 5px #777;
  }

.next span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next:hover {background-color: #cf0000}

.next:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}

.game-piece {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: #9a9280;
  border: none;
  padding: 10px;
  border-radius: 100%;
  align-items: center;
}
.start label input:checked ~ span.game-piece{background-color: #ff0000;}